.main-content {
    display: grid;
    justify-content: center;
    font-size: 1.2em;
    margin: 0 10px;
}

.information {
    margin-top: 25%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*max-width: 400px;*/
    /*flex: 1 1 350px;*/
    display: grid;
    grid-template-rows: repeat(2, 50px) min-content min-content;
    grid-template-columns: minmax(300px, 350px);
}

.information.auth {
    grid-template-rows: repeat(3, 50px) min-content 50px;
}


.username {
    color: teal;
}

.information__auth {
}

.information__auth.hidden {
    display: none;
}

.information__auth-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exit-button {
    width: 7em;
    height: 2em;
    background-color: tomato;
    color: #fff;
    border: unset;
    cursor: pointer;
    border-radius: 2px;
}
.exit-button:hover {
    box-shadow: 0px 0px 7em 2em rgba(17, 17, 17, 0.2) inset;
}
.information__list {
    align-self: start;
}

.information__list ul {
    list-style: none;
    padding: 0;
}

.information__list ul li {
    margin: 5px 0;
}

.information__list ul li::before {
    content: "✔️";
    margin-left: 5px;
    margin-right: 7px;
}
.information__go-back {
    align-self: center;
}
.information__go-back .button {
    display: block;
    width: 15em;
    height: 2em;
    background-color: tomato;
    color: #fff;
    border: unset;
    cursor: pointer;
    border-radius: 2px;
}