h2 {
    margin: auto 0;
    width: 100%;
    text-align: center;
}


.wrapper { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
}
  
.container {
    width: 100%;
    min-height: calc(100% - 100px);
    height: fit-content;
    display: flex; 
    flex-flow: row wrap;
    flex: 1 1 100%;
    margin: 0 auto; 
    background: rgb(48, 48, 48);
}

.container.hf {
    min-height: 50px;
    background-color: rgb(25, 153, 175);
}

/* Main */
.main {
    display: flex;
    flex: 2 1;
    flex-flow: row wrap;
    margin: 5px; 
}

.red-block {
    background: red; 
    flex: 2 0 100%;
    margin-bottom: 5px;
    min-height: 200px;
}

.green-and-pink {
    display: flex;
    flex: 0 1 auto;
    min-height: 200px;
    height: fit-content;
}

.green-block {
    background: rgb(65, 65, 60);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-right: 5px;
}

.pink-block {
    display: flex;
    flex-direction: column;
    background: pink;
    flex: 0 1 100%;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    flex: 1 1 100%;
    margin: 20px 0; 
}

/* Aside */
.yellow-block {
    display: flex;
    flex: 1 0;
    background: yellow;
    margin: 5px;
}

.input-area {
    width: 100%;
}
.remove-btn {
    display: flex;
    margin: 25px auto;
    padding: 25px;
    background-color: rgb(25, 153, 175);
    border: unset;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    transition: 0.2s all ease;
}

.remove-btn:hover {
    outline: thin solid #111;
}

.remove-btn:active {
    background-color: pink;
}

@media screen and (max-width: 1280px) {
    .container {
        flex-flow: column nowrap;
    }

    .yellow-block {
        flex: 0 0 200px; 
        order: 1;
    }

    .main {
        flex: 1 1 100%;
        order: 2;  
    }

    .green-and-pink {
        flex-flow: row wrap;
    }
    .green-block {
        flex: 1 0 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .item {
        flex: 0 0 100px;
    }
}
